body {
    background-color: white;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    padding: 2rem;
}

form {
    border: solid thick black; 
    padding: 1rem; 
    margin: 1 rem;
}

div, p {
    margin-top: 1rem; 
}

input{ 
    padding-left: 0.2rem;
    padding-top: 0.2rem;
}

option:nth-child(even) { 
    background-color: darkgray;
}

option:nth-child(odd) { 
    background-color: aliceblue;
}
