/* shelter and related pages */
header {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
}
.shelter-body {
    background-image: url(/static/img/pets_bg.jpg);
    background-size: cover;
    background-color: #FFE5B4; /* Light blue background */
    font-family: Arial, sans-serif;
    
}
form {
    max-width: 400px;
    margin: auto;
    background-color: #cfe8d5;
    padding: 20px; /* Add padding */
    border-radius: 10px; /* Add rounded edges */
    border: 2px solid #68b684; /* Add border */
}
yes_button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}
#image:hover {
    border: 2px solid black;
}

.btn-square-xl {
    width: 200px !important;
    max-width: 100% !important;
    max-height: 100% !important;
    height: 200px !important;
    text-align: center;
    padding: 0px;
    font-size: 24px;
    margin: 25px
}

.btn-container {
    padding: 5rem;
}

.btn.btn-light.btn-square-xl {
    font-size: 25px;
    font-weight: bold;
  }