/* shelter and related pages */
header {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
}
.shelter-body {
    background-image: url(/static/img/pets_bg.jpg);
    background-size: cover;
    background-color: #FFE5B4;
    font-family: Arial, sans-serif;
    
}
form {
    width: 450px;
    margin: auto;
    background-color: #fff7eb;
    padding: 20px; /* Add padding */
    border-radius: 50px; /* Add rounded edges */
    border: 2px solid #fde3c1; /* Add border */
}

/* edit and save buttons */
.save-changes-btn {
    background-color: #ff9914;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    /* add hover effect */
    margin: 0 auto;
}

.save-changes-btn:hover {
    background-color: #d18420;
}

/* animal profiles */
.profile-container {
    display: flex;
    flex-wrap: wrap;
    /* allow wrapping if content overflows */
    justify-content: center;
    padding-top: 2.5rem;
}

.pet-profile-image img {
    width: 550px;
    height: 550px;
    border-radius: 15%;
    margin-right: 10rem;
    margin-top: 5rem;
}

/* adopter profiles */
.adopter-profile-image img {
    width: 550px;
    height: 550px;
    border-radius: 15%;
    margin-right: 10rem;
    margin-top: 5rem;
    object-fit: cover;
}

.adopter-profile-info {
    margin-top: 10rem;
}

/* message buttons for shelter to contact adopter */
.message-button {
    background-color: #4CAF50;
    color: white;
}

.not-interested-button {
    background-color: #FF0000;
    color: white;
}


yes_button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}
#image:hover {
    border: 2px solid black;
}

.btn-square-xl {
    width: 200px !important;
    max-width: 100% !important;
    max-height: 100% !important;
    height: 200px !important;
    text-align: center;
    padding: 0px;
    font-size: 24px;
    margin: 25px
}

.btn-container {
    padding: 5rem;
}

.btn.btn-light.btn-square-xl {
    font-size: 25px;
    font-weight: bold;
  }