<!DOCTYPE html>
.card-img-top {
    width: 100%;
    height: 20vw;
    object-fit: cover;
    }
</style>

{% extends "shelter.html" %}
<style>
    .center {
        text-align: center;
    }
    
</style>
<body>
    {% block nav_content %}
    <li class="nav-item"><a class="nav-link" href="./shelter">Dashboard</a></li>
    <li class="nav-item"><a class="nav-link" href="./shelter_add_pet">Add New Pet Profile</a></li>
    <li class="nav-item"><a class="nav-link" href="./shelter_all_pets">All Pet Profiles</a></li>
    <li class="nav-item"><a class="nav-link" href="./shelter_all_adopters">Potential Adopters</a></li>
    <li class="nav-item"><a class="nav-link" href="/sign_out">Sign Out</a></li>
    {% endblock nav_content %}

    {% block content %}
    <div style="text-align: center;">
        <h2> {{user[2]}} {{ user[3] }}</h2>
        <p>Email: {{ user[4] }}</p>
        <p>Phone: {{ user[6] }}</p>
    </div>
    
    
    <div class="button-container">
        <form method="post" action="/approve">
            <button id="approve">Approve Adoption!</button>
        </form>
        <form method="post" action="/deny">
            <button id="deny">Reject Adoption</button>
        </form>
        
    </div>
    {% endblock content %}

    

</body>