<html lang="en">

    <head>
        <style>
            body {
            background-color: #c7c4c4;
            text-align: center;
            font-family: 'Arial', sans-serif;
            
        }

        #petProfile {
            background-color: white;
        }
        </style>
    </head>

    <body>
        <h1>Meet: Pet Name PlaceHolder</h1>

        <section id="petProfile">
            <h2>Pet Name</h2>
            <p>Breed: Pet Breed</p>
            <p>Age: X years</p>
            <p>Color: Pet Color</p>
            <p>Personality: </p>
            <p>Other:</p>

        </section>
    </body>

</html>