{% extends "simple_layout.html" %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='style2.css') }}">
<form action="" method ="post"> 
    {{ form.csrf_token }}
    <div>
        <h1>Welcome to our App!</h1>
        <p>Please enter your shelter's information here. </p>
    </div>
    <div> 
        {{ form.shelter_name.label }} <br />
        {%if form.shelter_name.errors%}
        {{form.shelter_name(class="form-control form-control-lg is-invalid")}}
            {%for error in form.shelter_name.errors%}
                <span>error</span>
            {%endfor%}
            {% else %}
            {{form.shelter_name(class="form-control form-control-lg")}}
        {%endif%}
    </div>
    <div> 
        {{ form.shelter_address.label }} <br />
        {%if form.shelter_address.errors%}
        {{form.shelter_address(class="form-control form-control-lg is-invalid")}}
            {%for error in form.shelter_address.errors%}
                <span>error</span>
            {%endfor%}
            {% else %}
            {{form.shelter_address(class="form-control form-control-lg")}}
        {%endif%}
    <div> 
        {{ form.shelter_email.label }} <br />
        {%if form.shelter_email.errors%}
        {{form.shelter_email(class="form-control form-control-lg is-invalid")}}
            {%for error in form.shelter_email.errors%}
                <span>You must enter an email address (@)</span>
            {%endfor%}
            {% else %}
            {{form.shelter_email(class="form-control form-control-lg")}}
        {%endif%}
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %} 
    </div>
    <div> 
        {{ form.shelter_phone.label }} <br />
        {%if form.shelter_phone.errors%}
        {{form.shelter_phone(class="form-control form-control-lg is-invalid")}}
            {%for error in form.shelter_phone.errors%}
                <span>You must enter a phone number</span>
            {%endfor%}
            {% else %}
            {{form.shelter_phone(class="form-control form-control-lg")}}
        {%endif%}
    </div>
     <div> 
        <label for="password">Password</label> <br />
        <input type="password" id="password" name="password" pattern="(?=.*[A-Z])(?=.*[0-9])(?=.*[^A-Za-z0-9]).{6,}" title="Password must contain at least one uppercase letter, one number, one special character, and be at least 6 characters long" required>
        <small>Password must contain at least one uppercase letter, one number, one special character, and be at least 6 characters long.</small>
    </div>
    <div> 
        {{ form.checkPassword.label }} <br />
        {%if form.checkPassword.errors%}
        {{form.checkPassword(class="form-control form-control-lg is-invalid")}}
            {%for error in form.checkPassword.errors%}
                <span>password check must match password</span>
            {%endfor%}
            {% else %}
            {{form.checkPassword(class="form-control form-control-lg")}}
        {%endif%}
    </div>
    </div>
    <div> 
        {{ form.submit() }} 
    </div>
</form>

{% endblock content %}
