<style>
    .message-button {
        background-color: #4CAF50;
        color: white;
    }

    .not-interested-button {
        background-color: #FF0000;
        color: white;
    }
</style>

{% extends "shelter.html" %}

{% block title_content %}
Potential Adopter
{% endblock title_content %}

<body>

    {% block nav_content %}
    <li class="nav-item"><a class="nav-link" href="./shelter">Dashboard</a></li>
    <li class="nav-item"><a class="nav-link" href="./shelter_profile">Shelter Profile</a></li>
    <li class="nav-item"><a class="nav-link" href="./shelter_add_pet">Add New Pet Profile</a></li>
    <li class="nav-item"><a class="nav-link" href="./shelter_all_pets">All Pet Profiles</a></li>
    <li class="nav-item"><a class="nav-link" href="./shelter_all_adopters">Potential Adopters</a></li>
    <li class="nav-item"><a class="nav-link" href="/sign_out">Sign Out</a></li>
    {% endblock nav_content %}

    {% block content %}
    <section id="adopter">
        <h2>[Name of Adopter]</h2>
        <div class="person">
            <a href="./shelter_single_adopter">
                <img src="../static/img/mr_beast.jpeg" alt="person 1">
            </a>
            <p><strong>Name:</strong> Mr. Beast</p>
            <p><strong>Interested In:</strong> None</p>
            <p><strong>Preference:</strong> Dog, Male, Fixed</p>
            <p><strong>Disposition:</strong> Good with other animals, Good with children</p>
            <button class="message-button" onclick="sendMessage()">Message</button>
            <button class="not-interested-button" onclick="notInterested()">Not Interested</button>
        </div>
    </section>
    {% endblock content %}
</body>
<script>
    function sendMessage() {
        // Add logic for sending a message
        alert("Sending a message!");
    }

    function notInterested() {
        // Add logic for marking as not interested
        alert("Marked as Not Interested");
    }
</script>

</html>