<style>            
.card-img-top {
    width: 100%;
    height: 20vw;
    object-fit: cover;
    }
</style>

{% extends "shelter.html" %}

<body>
    {% block nav_content %}
    <li class="nav-item"><a class="nav-link" href="./shelter">Dashboard</a></li>
    <li class="nav-item"><a class="nav-link" href="./shelter_add_pet">Add New Pet Profile</a></li>
    <li class="nav-item"><a class="nav-link" href="./shelter_all_pets">All Pet Profiles</a></li>
    <li class="nav-item"><a class="nav-link" href="./shelter_all_adopters">Potential Adopters</a></li>
    <li class="nav-item"><a class="nav-link" href="/sign_out">Sign Out</a></li>
    {% endblock nav_content %}

    {% block content %}
    <section id="all_people">
        <h1 class="text-center py-3">All Your Potential Adopters</h1>
        <!-- Add content for the dashboard overview -->
        <!-- need photo, name, breed, animal type, gender,fixed/notfixed availability -->
        <!-- Disposition are checkboxes that include "Good with other animals", "Good with children", "Animal must be leashed at all times". -->

        <!-- Probably make a for loop with Flask and Database -->
        <div class="row">

            {% for user in users %}
            <div class="col">
                <form method="post" action="/contact">
                    <div class="card" style="width: 20rem;">
                        <div class="card-body">
                            <h5 class="card-title">{{ user[0] }} {{user[1] }}</h5>
                            <p class="card-text"><strong>Interested In:</strong> {{ user[2] }}</p>
                            <p class="card-text"><strong>Preference:</strong> Dog, Male, Fixed</p>
                            <p class="card-text"><strong>Disposition:</strong> Good with other animals, Good with
                                children</p> 
                            <input type= "hidden" name ="user_info" value="{{ user[3] }}, {{ user[4] }}">
                            <button type = "submit">Contact</button> 
                        </div>
                    </div>  
                </form>
            </div>
            {% endfor %}
        </div>

    </section>
    {% endblock content %}

</body>

</html>
