{% extends "shelter.html" %}

{% block title_content %}
Shelter Profile
{% endblock title_content %}

<body>
    {% block nav_content %}
    <li class="nav-item"><a class="nav-link" href="./shelter">Dashboard</a></li>
    <li class="nav-item"><a class="nav-link" href="./shelter_profile">Shelter Profile</a></li>
    <li class="nav-item"><a class="nav-link" href="./shelter_add_pet">Add New Pet Profile</a></li>
    <li class="nav-item"><a class="nav-link" href="./shelter_all_pets">All Pet Profiles</a></li>
    <li class="nav-item"><a class="nav-link" href="./shelter_all_adopters">Potential Adopters</a></li>
    <li class="nav-item"><a class="nav-link" href="/sign_out">Sign Out</a></li>
    {% endblock nav_content %}

    {% block content %}
    <section id="shelter_profile">
        <h2>Your profile</h2>
        <p>Click on any of the following to make an edit</p>
        <!-- Content of page -->
        <h3>Name</h3>
        <p>{{ shelter_info.name }}</p>
        <h3>About</h3>
        <p>{{ shelter_info.description }}</p>
        <h3>Pictures</h3>
        <p>Current photos (NOT IMPLEMENTED YET)</p>
        <h3>Address</h3>
        <p>{{ shelter_info.address }}</p>

        <h3>Other/Website link</h3>
        <p><a href="{{ shelter_info.link }}">{{ shelter_info.link }}</a></p>
        <button class="edit_btn"><a class="edit_link" href="/shelter_profile_edit">Edit Profile Information</a></button>
    </section>
    {% endblock content %}
</body>

</html>