{% extends "shelter.html" %}

{% block title_content %}
Pet Profile
{% endblock title_content %}

<body>

    {% block nav_content %}
    <li class="nav-item"><a class="nav-link" href="./shelter">Dashboard</a></li>
    <li class="nav-item"><a class="nav-link" href="/shelter_profile">Shelter Profile</a></li>
    <li class="nav-item"><a class="nav-link" href="/shelter_add_pet">Add New Pet Profile</a></li>
    <li class="nav-item"><a class="nav-link" href="/shelter_all_pets">All Pet Profiles</a></li>
    <li class="nav-item"><a class="nav-link" href="/shelter_all_adopters">Potential Adopters</a></li>
    <li class="nav-item"><a class="nav-link" href="/sign_out">Sign Out</a></li>
    {% endblock nav_content %}

    {% block content %}
    <div class="profile-container">
        <div class="pet-profile-image">
            <img src="{{ image_url }}" alt="Profile Picture">
        </div>

        <div class="profile-info py-3">
            <form action="#" method="post">
                <h2 class="text-center">Edit Pet Profile</h2>

                <div class="mx-5">
                    <label for="petName">Name:</label>
                    <br>
                    <input type="text" id="petName" name="petName" placeholder="Sparky">

                    <br></br>
                    <label for="breed">Breed:</label>
                    <br>
                    <input type="text" id="breed" name="breed" placeholder="Labrador Retriever">

                    <br></br>
                    <label for="animalType">Animal Type:</label>
                    <br>
                    <select id="animalType" name="animalType">
                        <option value="select" selected>Select</option>
                        <option value="dog" >Dog</option>
                        <option value="cat">Cat</option>
                        <option value="other">Other</option>
                    </select>

                    <br></br>
                    <label for="gender">Gender:</label>
                    <br>
                    <select id="gender" name="gender">
                        <option value="select" selected>Select</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                    </select>

                    <br></br>
                    <label for="fixed">Fixed/Not Fixed:</label>
                    <br>
                    <select id="fixed" name="fixed">
                        <option value="select" selected>Select</option>
                        <option value="fixed">Fixed</option>
                        <option value="not_fixed">Not Fixed</option>
                    </select>

                    <br></br>
                    <label for="availability">Availability:</label>
                    <br>
                    <select id="availability" name="availability">
                        <option value="select" selected>Select</option>
                        <option value="not_available">Not Available</option>
                        <option value="available">Available</option>
                        <option value="pending">Pending</option>
                        <option value="adopted">Adopted</option>
                    </select>

                    <br></br>
                    <label>Disposition:</label>
                    <div class="checkbox-group">
                        <label><input type="checkbox" name="goodWithOtherAnimals" value="Good with other animals">Good
                            with
                            other animals</label><br>
                        <label><input type="checkbox" name="goodWithChildren" value="Good with children">Good with
                            children</label><br>
                        <label><input type="checkbox" name="leashedAtAllTimes"
                                value="Animal must be leashed at all times">Animal must be leashed at all times</label>
                    </div>
                    
                    <br>
                    <label for="view">View:</label>
                    <br>
                    <select id="view" name="view">
                        <option value="public">Public</option>
                        <option value="private">Private</option>
                    </select>
                    <br></br>
                </div>
                <div class="text-center">
                    <button type="submit" class="save-changes-btn">Save Changes</button>
                </div>
            </form>
        </div>
    </div>
    {% endblock content %}
</body>

</html>