<style>
    .pet-image {
        max-height: 100%;
        width: 250px;
        height: 275px;
        object-fit: cover;
        overflow: hidden;
        padding-right: 25px;
    }
    .card-body {
        margin-left: 80px;
    }
</style>

{% extends "shelter.html" %}

{% block title_content %}
All Pets at Shelter
{% endblock title_content %}

<body>
    {% block nav_content %}
    <li class="nav-item"><a class="nav-link" href="./shelter">Dashboard</a></li>
    <li class="nav-item"><a class="nav-link" href="./shelter_profile">Shelter Profile</a></li>
    <li class="nav-item"><a class="nav-link" href="./shelter_add_pet">Add New Pet Profile</a></li>
    <li class="nav-item"><a class="nav-link" href="./shelter_all_pets">All Pet Profiles</a></li>
    <li class="nav-item"><a class="nav-link" href="./shelter_all_adopters">Potential Adopters</a></li>
    <li class="nav-item"><a class="nav-link" href="/sign_out">Sign Out</a></li>
    {% endblock nav_content %}

    {% block content %}
    <section id="all_pets">
        <h2 class="text-center py-3">All Your Shelter Pets</h2>
        <!-- Add content for the dashboard overview -->
        <!-- need photo, name, breed, animal type, gender,fixed/notfixed availability -->
        <!-- Disposition are checkboxes that include "Good with other animals", "Good with children", "Animal must be leashed at all times". -->

        <!-- Probably make a for loop with Flask and Database -->
        <!-- Begin populating pets -->


        <div class="container-sm">
            <div class="row row-cols-2 gy-5">
                {% for pet in pets %}
                <div class="col">
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <a href="./shelter_single_pet/{{ pet['id'] }}"><img src="{{ pet['image'] }}" class="pet-image"
                                        alt="{{ pet['name'] }}"></a>
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title"><strong>Name:</strong> {{ pet['name'] }} </h5>
                                    <p class="card-text">
                                        <strong>Breed:</strong> {{ pet['breed'] }} <br>
                                        <strong>Animal Type:</strong> {{ pet['type'] }} <br>
                                        <strong>Gender:</strong> {{ pet['gender'] }} <br>
                                        <strong>Fixed/Not Fixed:</strong> {{ pet['fixed'] }} <br>
                                        <strong>Availability:</strong> {{ pet['available'] }} <br>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    {% endblock content %}

</body>

</html>