{% extends "user_profile.html" %}

{% block title_content %}
Liked Pets
{% endblock title_content %}

<body>

    {% block content %}
    <section id="liked_pets">
        <h2>Liked Pets</h2>
        <!-- Add content for the dashboard overview -->
        <!-- need photo, name, breed, animal type, gender,fixed/notfixed availability -->
        <!-- Disposition are checkboxes that include "Good with other animals", "Good with children", "Animal must be leashed at all times". -->

         <!-- Probably make a for loop with Flask and Database -->
        <!-- Begin populating pets -->
        <div class="container-sm">
            <div class="row row-cols-2 gy-5">
                {% for pet in pets %}
                <div class="col">
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <a href="./shelter_single_pet"><img src="{{ images[pet] }}"
                                        class="pet-image" alt="{{ pet.name }}"></a>
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title"><strong>Name:</strong> {{ pet[2] }} </h5>
                                    <p class="card-text">
                                        <strong>Breed:</strong> {{ pet[4] }} <br>
                                        <strong>Animal Type:</strong> {{ pet[3] }} <br>
                                        <strong>Gender:</strong> {{ pet[9] }} <br>
                                        <strong>Fixed/Not Fixed:</strong> {{ pet[10] }} <br>
                                        <strong>Availability:</strong> {{ pet[15] }} <br
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    {% endblock content %}

</body>

</html>
