{% extends "user_profile.html" %}

{% block title_content %}
Matched Pets
{% endblock title_content %}

<!-- Hard coded matches will need to be updated -->

<body>
    {% block content %}
    <h1 class="text-center py-4">My Matches</h1>

    <div class="match-container">
        <div class="row row-cols-3 gy-3">
            <div class="col">
                <div class="match">
                    <div class="match-card">
                        <div class="match-photo">
                            <!-- make image into link to pet profile? -->
                            <img src="/static/img/blank-profile.png" alt="Pet Picture">
                            <div class="message-bar">Message Shelter</div>
                        </div>
                        <div class="match-info">
                            <div class="pet-name mx-auto">Bark Johnson</div>
                            <div class="pet-info mx-auto">a Bird</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="match">
                    <div class="match-card">
                        <div class="match-photo">
                            <!-- make image into link to pet profile? -->
                            <img src="/static/img/blank-profile.png" alt="Pet Picture">
                            <div class="message-bar">Message Shelter</div>
                        </div>
                        <div class="match-info">
                            <div class="pet-name mx-auto">Gary</div>
                            <div class="pet-info mx-auto">a Bird</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="match">
                    <div class="match-card">
                        <div class="match-photo">
                            <!-- make image into link to pet profile? -->
                            <img src="/static/img/blank-profile.png" alt="Pet Picture">
                            <div class="message-bar">Message Shelter</div>
                        </div>
                        <div class="match-info">
                            <div class="pet-name mx-auto">Susan</div>
                            <div class="pet-info mx-auto">a Bird</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="match">
                    <div class="match-card">
                        <div class="match-photo">
                            <!-- make image into link to pet profile? -->
                            <img src="/static/img/blank-profile.png" alt="Pet Picture">
                            <div class="message-bar">Message Shelter</div>
                        </div>
                        <div class="match-info">
                            <div class="pet-name mx-auto">Susan</div>
                            <div class="pet-info mx-auto">a Bird</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endblock content %}
</body>

</html>