{% extends "user_profile.html" %}

{% block title_content %}
Matched Pets
{% endblock title_content %}

<!-- Hard coded matches will need to be updated -->

<body>
    {% block content %}
    <h1 class="text-center py-4">My Matches</h1>

    <div class="match-container">
        <div class="row row-cols-3 gy-3">
            {% for pet in pets %}
            <div class="col">
                <div class="match">
                    <div class="match-card">
                        <div class="match-photo">
                            <a href="/likeDislike_profile/{{ pet['id'] }}"><img src="{{ pet['image'] }}" class="pet-image"
                                alt="{{ pet['name'] }}"></a>
                            <div class="message-bar">Message Shelter</div>
                        </div>
                        <div class="match-info">
                            <h5 class="card-title"><strong>Name:</strong> {{ pet['name'] }} </h5>
                                <p class="card-text">
                                    <strong>Breed:</strong> {{ pet['breed'] }} <br>
                                    <strong>Animal Type:</strong> {{ pet['type'] }} <br>
                                    <strong>Gender:</strong> {{ pet['gender'] }} <br>
                                    <strong>Fixed/Not Fixed:</strong> {{ pet['fixed'] }} <br>
                                    <strong>Availability:</strong> {{ pet['available'] }} <br>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
    </div>
    {% endblock content %}
</body>

</html>