{% extends "user_profile.html" %}

{% block title_content %}
Liked Pets
{% endblock title_content %}

<body>

    {% block content %}
    <h2 class="text-center py-4">Liked Pets</h2>

    <!-- Begin populating pets -->
    <div class="match-container">
        <div class="row row-cols-3 gy-3">
            {% for pet in pets %}
            <div class="col">
                <div class="match">
                    <div class="match-card">
                        <div class="match-photo">
                            <a href="/likeDislike_profile/{{ pet['id'] }}"><img src="{{ pet['image'] }}"
                                    class="pet-image" alt="{{ pet['name'] }}"></a>
                        </div>
                        <div class="match-info">
                            <h5 class="card-title"><strong>Name:</strong> {{ pet['name'] }} </h5>
                            <p class="card-text">
                                <strong>Breed:</strong> {{ pet['breed'] }} <br>
                                <strong>Animal Type:</strong> {{ pet['type'] }} <br>
                                <strong>Gender:</strong> {{ pet['gender'] }} <br>
                                <strong>Fixed/Not Fixed:</strong> {{ pet['fixed'] }} <br>
                                <strong>Availability:</strong> {{ pet['available'] }} <br>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endblock content %}

</body>

</html>