{% extends "user_profile.html" %}

{% block title_content %}
Liked Pets
{% endblock title_content %}

<body>

    {% block content %}
    <section id="liked_pets">
        <h2>Liked Pets</h2>
        <!-- Add content for the dashboard overview -->
        <!-- need photo, name, breed, animal type, gender,fixed/notfixed availability -->
        <!-- Disposition are checkboxes that include "Good with other animals", "Good with children", "Animal must be leashed at all times". -->

         <!-- Probably make a for loop with Flask and Database -->
        <!-- Begin populating pets -->
        
        {% for pet in pets %}
        <div class="pet">
            <a href="./shelter_single_pet">
                <img src="../static/img/{{ pet.image }}" alt="{{ pet.name }}">
            </a>
            <p><strong>Name:</strong> {{ pet.name }}</p>
            <p><strong>Breed:</strong> {{ pet.breed }}</p>
            <p><strong>Animal Type:</strong> {{ pet.animal_type }}</p>
            <p><strong>Gender:</strong> {{ pet.gender }}</p>
            <p><strong>Fixed/Not Fixed:</strong> {{ pet.fixed_status }}</p>
            <p><strong>Availability:</strong> {{ pet.availability }}</p>
            <p><strong>Disposition:</strong> {{ pet.disposition }}</p>
            <p><strong>View:</strong> {{ pet.view_status }}</p>
        </div>
        {% endfor %}
        
        
    </section>
    {% endblock content %}
</body>
</html>
