<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome!</title>
  <link rel="stylesheet" href="/static/style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      let multipleCardCarousel = document.querySelector("#carousel-2");


      if (window.matchMedia("(min-width: 768px)").matches) {
        let carousel = new bootstrap.Carousel(multipleCardCarousel, {
          interval: false, // Disable automatic sliding
          wrap: false, // Prevent wrapping at the end
        });


        let carouselWidth = document.querySelector("#news-carousel-inner").scrollWidth;
        let cardWidth = document.querySelector(".news-carousel-item").offsetWidth;
        let scrollPosition = 0;


        document.querySelector("#carousel-2 #news-control-next").addEventListener("click", function () {
          if (scrollPosition < carouselWidth - cardWidth * 4) {
            scrollPosition += cardWidth;
            document.querySelector("#carousel-2 #news-carousel-inner").scroll({ left: scrollPosition, behavior: 'smooth' });
          }
        });


        document.querySelector("#carousel-2 #news-control-prev").addEventListener("click", function () {
          if (scrollPosition > 0) {
            scrollPosition -= cardWidth;
            document.querySelector("#carousel-2 #news-carousel-inner").scroll({ left: scrollPosition, behavior: 'smooth' });
          }
        });
      } else {
        multipleCardCarousel.classList.add("slide");
      }
    });
  </script>
</head>

<body class="welcome-body">
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-5 fixed-top" id="mainNav">
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
        <li class="nav-item"><a class="nav-link" href="#carousel-1">Featured Pet</a></li>
        <li class="nav-item"><a class="nav-link" href="#carousel-2">News</a></li>
        <li class="nav-item"><a class="nav-link" href="/user_profile">User Profile</a></li>
        <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
        <li class="nav-item"><a class="nav-link" href="/sign_out">Sign Out</a></li>
      </ul>
    </div>
  </nav>

  <!-- Masthead-->
  <header class="masthead">
    <div class="container">
      <div class="masthead-subheading">Welcome!</div>
      <div class="masthead-heading text-uppercase">This is a Dating App for Pet Adoption</div>
      <a class="btn btn-primary btn-xl text-uppercase" href="/likeDislike">Get Started</a>
    </div>
  </header>

  <!-- Carousel-->
  <div id="carousel-1" class="carousel slide carousel-fade carousel-dark" data-bs-ride="carousel" data-bs-interval="3000">
    <ol class="carousel-indicators">
        <li type="button" data-bs-target="#carousel-1" data-bs-slide-to="0" class="active" aria-label="Slide 1"></li>
        <li type="button" data-bs-target="#carousel-1" data-bs-slide-to="1" aria-label="Slide 2"></li>
        <li type="button" data-bs-target="#carousel-1" data-bs-slide-to="2" aria-label="Slide 3"></li>
    </ol>

    <div class="carousel-inner">
        {% for url in image_urls %}
        <div class="carousel-item {% if loop.first %}active{% endif %}">
          <a href="/likeDislike_profile">
            <img src="{{ url }}" class="d-block mx-auto img-fluid" style="height: 500px;" alt="Slide Image">
          </a>
        </div>
        {% endfor %}
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carousel-1" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>

    <button class="carousel-control-next" type="button" data-bs-target="#carousel-1" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>


  <!-- News Carousel-->
  <div class="container mt-5 d-flex flex-column h-100">
    <div id="carousel-2" class="news-carousel carousel-dark w-100">
      <div class="carousel-inner" id="news-carousel-inner">
        {% for article in article_list %}
        <div class="news-carousel-item {% if loop.index == 1 %}active{% endif %}">
          <a href="{{ article.link }}"
            class="news-card h-75 d-flex flex-column justify-content-center px-3 text-decoration-none rounded-3">
            <h4 class="card-title mb-5">{{ article.title }}</h4>
            <p class="card-text mb-0">{{ article.description | truncate(250) }}</p>
          </a>
        </div>
        {% endfor %}
      </div>

      <button class="carousel-control-prev" id="news-control-prev" type="button" data-bs-target="#carousel-2"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>

      <button class="carousel-control-next" id="news-control-next" type="button" data-bs-target="#carousel-2"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>

  <!-- About-->
  <section class="page-section" id="about">
    <div class="container">
      <div>
        <h1 class="section-heading text-uppercase text-center">About</h1>
        <h3 class="section-subheading text-left">
          <p>
            We believe that every pet deserves a loving forever home. We are passionate about facilitating connections
            between potential adopters like you and the incredible animals who are waiting for their perfect match.
          </p>
          <p>
            We want to support animal rescues and shelters by working closely with local organizations to help them find
            responsible and caring homes for their animals. We showcase their adoptable pets on our platform, providing
            detailed descriptions and photos to help you learn more about each unique individual.
        </h3>
        </p>
      </div>
    </div>
  </section>
</body>

</html>